<div class="container">
  <img class="logo" src="/assets/logo.png" alt="logo">
  <div class="dice_row">
    <button class="dice" (click)="setDice(1, 1)" [ngClass]="{'active': firstNumber === 1}">
      <div class="eye middle-center"></div>
    </button>
    <button class="dice" (click)="setDice(1, 2)" [ngClass]="{'active': firstNumber === 2}">
      <div class="eye top-left"></div>
      <div class="eye bottom-right"></div>
    </button>
    <button class="dice" (click)="setDice(1, 3)" [ngClass]="{'active': firstNumber === 3}">
      <div class="eye top-left"></div>
      <div class="eye middle-center"></div>
      <div class="eye bottom-right"></div>
    </button>
    <button class="dice" (click)="setDice(1, 4)" [ngClass]="{'active': firstNumber === 4}">
      <div class="eye top-left"></div>
      <div class="eye top-right"></div>
      <div class="eye bottom-left"></div>
      <div class="eye bottom-right"></div>
    </button>
    <button class="dice" (click)="setDice(1, 5)" [ngClass]="{'active': firstNumber === 5}">
      <div class="eye top-left"></div>
      <div class="eye top-right"></div>
      <div class="eye middle-center"></div>
      <div class="eye bottom-left"></div>
      <div class="eye bottom-right"></div>
    </button>
    <button class="dice" (click)="setDice(1, 6)" [ngClass]="{'active': firstNumber === 6}">
      <div class="eye top-left"></div>
      <div class="eye top-right"></div>
      <div class="eye middle-left"></div>
      <div class="eye middle-right"></div>
      <div class="eye bottom-left"></div>
      <div class="eye bottom-right"></div>
    </button>
  </div>
  <div class="dice_row">
    <button class="dice" (click)="setDice(2, 1)" [ngClass]="{'active': secondNumber === 1}">
      <div class="eye middle-center"></div>
    </button>
    <button class="dice" (click)="setDice(2, 2)" [ngClass]="{'active': secondNumber === 2}">
      <div class="eye top-left"></div>
      <div class="eye bottom-right"></div>
    </button>
    <button class="dice" (click)="setDice(2, 3)" [ngClass]="{'active': secondNumber === 3}">
      <div class="eye top-left"></div>
      <div class="eye middle-center"></div>
      <div class="eye bottom-right"></div>
    </button>
    <button class="dice" (click)="setDice(2, 4)" [ngClass]="{'active': secondNumber === 4}">
      <div class="eye top-left"></div>
      <div class="eye top-right"></div>
      <div class="eye bottom-left"></div>
      <div class="eye bottom-right"></div>
    </button>
    <button class="dice" (click)="setDice(2, 5)" [ngClass]="{'active': secondNumber === 5}">
      <div class="eye top-left"></div>
      <div class="eye top-right"></div>
      <div class="eye middle-center"></div>
      <div class="eye bottom-left"></div>
      <div class="eye bottom-right"></div>
    </button>
    <button class="dice" (click)="setDice(2, 6)" [ngClass]="{'active': secondNumber === 6}">
      <div class="eye top-left"></div>
      <div class="eye top-right"></div>
      <div class="eye middle-left"></div>
      <div class="eye middle-right"></div>
      <div class="eye bottom-left"></div>
      <div class="eye bottom-right"></div>
    </button>
  </div>
  <input type="number" class="passage_output" [(ngModel)]="passageNumber" (ngModelChange)="resetDice()"/>
</div>
<img class="passage_image" src="/assets/passages/{{passageNumber}}.jpg" alt="">
