/* You can add global styles to this file, and also import other style files */
html {
  -webkit-text-size-adjust: 100%
}
body {
  padding: 20px 20px;
  margin: 0;
  text-align: center;
  background-color: #16212b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.logo {
  width: 100%;
  margin-bottom: 10px;
}

.passage {
  &_output {
    text-align: center;
    font-size: 40px;
    padding: 10px 0;
    color: white;
    background-color: #283b4a;
    border: none;
    margin: 10px 0;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &_image {
    width: 100%;
    max-width: 800px;
  }
}

.dice {
  position: relative;
  display: inline-block;
  background-color: #fffdfc;
  width: 15%;
  padding-top: calc(15% - 10px);
  border-radius: 20%;
  border: 5px solid #BBBBBB;
  border-top-color: #CCCCCC;
  border-right-color: #999999;
  border-bottom-color: #777777;
  cursor: pointer;
  &_label {
    display: block;
    text-align: left;
    font-size: 10px;
    color: grey;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
  }
  &.active {
    box-shadow: 0 0 25px 2px orange;
  }
  &:hover {
    background-color: #EEEEEE;
  }
  &:focus {
    outline: none;
  }
}

.eye {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 8px;
  padding-top: 8px;
  border-radius: 50%;
  &.middle {
    &-center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-left {
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
    }
    &-right {
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
    }
  }
  &.top {
    &-left {
      top: 25%;
      left: 25%;
      transform: translate(-50%, -50%);
    }
    &-right {
      top: 25%;
      left: 75%;
      transform: translate(-50%, -50%);
    }
  }
  &.bottom {
    &-left {
      top: 75%;
      left: 25%;
      transform: translate(-50%, -50%);
    }
    &-right {
      top: 75%;
      left: 75%;
      transform: translate(-50%, -50%);
    }
  }
}